flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"279146e3.25b3fa","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104,"y":155,"wires":[["76a3b72c.b84728"]]},{"id":"76a3b72c.b84728","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":276,"y":215,"wires":[]},{"id":"26b66d5b.bde9a2","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":101,"y":308,"wires":[["5162195a.888c98"]]},{"id":"db38fdab.6038f","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":441,"y":308,"wires":[]},{"id":"5162195a.888c98","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":271,"y":308,"wires":[["db38fdab.6038f"]]}]